.div-top-bar {
  --background-color: rgb(71, 125, 224);
  --background-color-sec: rgb(131, 192, 107);
}

.div-top-bar {
  margin: 10px 10px 0px 10px;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 4px;
}

h1 {
  margin: 0;
}

button {
  color: var(--background-color);
  background-color: white;
  border: none;
  border-radius: 4px;
  margin: 0 0 0 auto;
}

button:hover {
  color: white;
  background-color: var(--background-color-sec);
}
